server {
  listen 80 default_server;
  listen [::]:80 default_server;

  location / {
    include  /etc/nginx/mime.types;

    root   /usr/share/nginx/html/;
    index  index.html index.htm;
  }

  location /api {
       rewrite /api/(.*) /$1  break;
       proxy_pass https://walmart-api-rest.herokuapp.com;
  }
}
